.addverticing {
	height: 40px;
	background-color: $secondly_color;

	&__body {
		p {
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			font-family: $font;
			text-align: center;
			margin: auto 45px;
			padding: 10px 0;
		}
	}
}
.container {
}
