.popularTickets {
  &__body {
    margin: 50px 0 35px 0;
    input:focus {
      outline: none;
    }
    a {
      text-decoration: none;
    }
  }

  &__poshuk {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 65px 35px;
    &_heading {
      width: 350px;
      height: 60px;
      border-radius: 5px;
      background-color: $primary_color;
      text-align: center;

      p {
        padding: 16.5px 0;
        margin: 0;
        font-size: 24px;
        font-weight: 600;
        font-family: $font;
        color: #fff;
      }
    }
  }

  &__forms {
    width: 540px;
    height: 60px;
    border-radius: 5px;
    background-color: $secondly_color;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    &_from {
      margin-left: 2px;
      width: 251px;
      height: 56px;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      p {
        color: #c4c4c4;
        font-size: 14px;
        font-weight: 400;
        font-family: $font;
        padding: 0 0 30px 7px;
        margin: 0;
      }
      input {
        width: 130px;
        height: 30px;
        border: none;
        color: #000;
        font-size: 24;
        font-weight: 700;
        font-family: $font;
        text-align: center;
      }
      img {
        width: 30px;
        height: 30px;
        padding-right: 15px;
      }
    }

    &_date {
      margin-right: 2px;
      width: 251px;
      height: 56px;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      p {
        color: #c4c4c4;
        font-size: 14px;
        font-weight: 400;
        font-family: $font;
        padding: 0 0 30px 7px;
        margin: 0;
      }
      input {
        width: 130px;
        height: 30px;
        border: none;
        color: #000;
        font-size: 24;
        font-weight: 700;
        font-family: $font;
        text-align: center;
      }
      img {
        width: 30px;
        height: 30px;
        padding-right: 15px;
      }
    }
  }

  &__tickets {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  &__tickets_grid {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  &__ticket {
    margin: 15px 0;
    width: 350px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px solid $secondly_color;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    &_line1 {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 350px;
      p {
        color: #000;
        font-family: $font;
        font-weight: 400;
        font-size: 24px;
        padding: 10px 15px 0 15px;
        margin: 0;
      }
    }

    &_line2 {
      width: 350px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      p {
        padding: 0 15px 10px 15px;
        margin: 0;
        color: #000;
        font-family: $font;
        font-weight: 400;
        font-size: 24px;
      }
      span {
        padding: 10px 15px;
        margin: 0;
        color: #000;
        font-family: $font;
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
  &__ticket:hover {
    border: 1px solid $primary_color;
    box-shadow: none;
  }
}

.container {
}
